.main {
  background-color: #fdfdfd;
  border: 2px solid #ccc;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.main_page_heading h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin: 5px;
  text-align: center;
}

.main_match_title h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.main_status_crr {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 30%;
  color: #dc1919;
}

.main_team_score {
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid blue;
  border-radius: 23px;
}

.main_teamscore_title {
  padding: 7px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  background-color: #160be3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main_teams_scores {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main_team2,
.main_team1 {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.main_tram1_logo_name,
.main_tram2_logo_name {
  display: grid;
}
.main_tram1_logo_name img,
.main_tram2_logo_name img {
  /* display: block; */
  margin: auto;
  width: 50%;
  height: 60px;
}

.main_tram1_logo_name p,
.main_tram2_logo_name p {
  margin: 10px;
  font-size: 18px;
  color: #333;
}

.main_team1_scores,
.main_team2_scores {
  font-size: 18px;
  color: #333;
  margin: 0;
}

.main_players_partnership {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12%;

}

.main_batters,
.main_bowler {
  border: 1px solid blue;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
}
.main_batters_heading,
.main_bowler_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #160be3;
}

.main_batter_title_left,
.main_batter_title_right,
.main_bowler_title_left,
.main_bowler_title_right {
  font-size: 20px;
  color: #ffffff;
}

.main_batteers_players,
.main_bowler_players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_batters_player1,
.main_batters_player2,
.main_bowler_player1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.main_recent_bolls,
.main_last_wicket{
 display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    text-shadow: 1px 1px 1px #4b61f384;
}
