/* Style for the Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  padding: 20px;
  box-shadow: 0px 1px 5px rgba(66, 255, 239, 0.986);
  
}

/* Style for the Logo */
.header__Logo h1 {
  font-size: 28px;
  color: hsl(176, 100%, 63%);
}

/* Style for the Social Icons */
.header__Social ul {
  display: flex;
  list-style-type: none;
}

.header__Social ul li {
  margin-right: 20px;
}

.header__Social ul li a {
  text-decoration: none;
    width: 30px;
    height: 30px;
    color: #42f2ff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;

}

.header__Social ul li a:hover {
  color: white;


}
